.back-to-top{
    position: absolute;
    right: 45px;
    bottom: 85px;
    padding: 7px 15px;
    border: 1px solid #979FBA8C;
    border-radius: 50px;
    cursor: pointer;
}
.back-to-top:before{
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    z-index: 10;
    padding: 20px 20px;
    border-top: 2px solid #FF0000FF;
    border-bottom: 2px solid #FF0000FF;
    border-radius: 50px;
}
.back-to-top:hover svg path{
    fill: #FF0000FF;
}

@media (max-width: 479px){
    .back-to-top {
        right: 25px;
        bottom: 100px;
    }
}