.start-project-main{
    padding: 40px 50px;
    background: rgb(235,234,234);
    background: linear-gradient(90deg, rgba(235,234,234,0.9976190305223652) 0%, rgba(237,236,236,0) 90%, rgba(255,255,255,0) 100%);
    display: flex;
    flex-direction: row;
}
.start-project-info{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.start-project-info p{
    margin: 0;
}
.start-project-description, .start-project-expert{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 150%;
    color: #9a9999;
    width: 62%;
}
.start-project-title{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    line-height: 120%;
    color: #363535;
    margin: 10px 0 15px 0!important;
    position: relative;
}
.start-project-circle{
    position: absolute;
    top: 18px;
    left: 220px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: #E81C27;
    box-shadow: 0 3px 3px rgba(255, 0, 0, 0.34);
    margin-top: -2px;
}
.project-form{
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #ece8e8;
    padding: 20px;
    width: 50%;
    box-shadow: -4px 3px 10px #e8e3e3;
}
.form-row{
    margin-bottom: 10px;
}
.form-row span , .form-text span{
    color: red;
    font-size: 11px;
    font-weight: 100;
    margin: 10px;
}
.form-row input{
    border: 1px solid #ece8e8;
    border-radius: 3px;
    padding: 7px 15px;
    outline: 0;
    width: 94%;
    margin-bottom: 10px;
}
.form-text{
    margin-bottom: 10px;
}
.form-text textarea{
    border: 1px solid #ece8e8;
    border-radius: 3px;
    padding: 10px 15px;
    width: 94%;
    max-width: 94%;
    display: block;
    outline: 0;
    height: 100px;
    margin-bottom: 20px;
}
.btn{
    background: #E81C27;
    color: rgba(255, 255, 255, 0.93);
    border: none;
    border-radius: 3px;
    font-size: 15px;
    padding: 10px 20px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    width: 100%;
}
@media (min-device-width: 768px) and (max-device-width: 991px){
    .form-row input, .form-text textarea{
        width: 90%;
    }
}
@media (max-width: 767px){
    .start-project-main {
        flex-direction: column;
        padding: 40px 20px;
    }
    .start-project-info{
        margin-bottom: 20px;
    }
    .start-project-info, .start-project-description, .start-project-expert {
        width: 100%;
    }
    .project-form{
        width: 90%;
    }
    .form-row input, .form-text textarea{
        width: 92%;
    }
}
@media (max-width: 479px){
    .project-form{
        width: 85%;
    }
    .form-row input, .form-text textarea{
        width: 88%;
    }
}