.main{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 5;
}
.profile{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 100px 96px;
}
.profile-title{
    font-size: 61px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #000000;
    margin: 0;
    line-height: 120%;
}
.profile-title-p{
    font-size: 61px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #E81C27;
    margin: 0;
    line-height: 120%;
}
.profile-detail{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #959191;
    margin: 24px 0;
}
.profile-btn{
    background-color: #E81C27;
    color: white;
    border-radius: 3px;
    padding: 10px;
    border: none;
    width: 30%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

@media (min-device-width: 992px) and (max-device-width: 1199px){
    .profile-title, .profile-title-p{
        font-size: 42px;
    }
    .profile-btn{
        font-size: 13px;
    }
}
@media (min-device-width: 768px) and (max-device-width: 991px){
    .homeBackground, .Shadow {
        height: 450px;
    }
    .profile {
        margin: 100px 20px;
    }
    .profile-title, .profile-title-p{
        font-size: 32px;
    }
    .profile-detail {
        font-size: 16px;
    }
    .profile-btn{
        font-size: 13px;
        width: 40%;
    }
}
@media (max-width: 767px){
    .homeBackground, .Shadow {
        height: 450px;
    }
    .profile {
        margin: 40px 20px;
    }
    .profile-title, .profile-title-p{
        font-size: 25px;
    }
    .profile-detail {
        font-size: 16px;
    }
    .profile-btn{
        font-size: 13px;
        width: 65%;
    }
}
@media (max-width: 479px){
    .profile-btn{
        width: 95%;
    }
}