.expertise-main{
    background-color: white;
    padding: 50px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.expertise-info{
    padding: 0 34.5% 40px;
}
.expertise-info p{
    margin: 0;
}
.expertise-description, .expertise-p1{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 150%;
    color: #9a9999;
    text-align: center;
}
.expertise-title{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    line-height: 120%;
    color: #363535;
    margin: 10px 0 15px 0!important;
    position: relative;
}
.expertise-circle{
    position: absolute;
    top: 18px;
    right: 135px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: #E81C27;
    box-shadow: 0px 3px 3px rgba(255, 0, 0, 0.34);
    margin-top: -2px;
}
.expertise-pics{
    display: flex;
    flex-direction: row;
}
.expertise-pics-right, .expertise-pics-left{
    position: relative;
    box-shadow: 0 0 30px #9591914d;
    background-color: #9591911f;
}
.hotel{
    width: 513px;
    height: 523px;
    border-radius: 3px;
}
.experience-title, .organizational-experience-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 49px;
    line-height: 150%;
    color: white;
    margin: 0;
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
}
.years-experience{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #d2cccc;
    margin: 0;
    text-align: left;
    padding-left: 20px;
}
.hotel-Background{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 524px;
    background: rgb(52,52,52);
    background: linear-gradient(90deg, rgba(52,52,52,0.9976190305223652) 0%, rgba(163,157,157,0) 62%, rgba(255,255,255,0) 100%);
    border-radius: 5px;
}
.expertise-pics-right{
    display: flex;
    flex-direction: column;
    padding-left: 19px;
    padding-bottom: 10px;
}
.logistic{
    width: 715px;
    height: 207px;
    border-radius: 3px;
}
.logistic-Background {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 19px;
    width: 100%;
    height: 207px;
    background: rgb(52,52,52);
    background: linear-gradient(90deg, rgba(52,52,52,0.9976190305223652) 0%, rgba(163,157,157,0) 62%, rgba(255,255,255,0) 100%);
    border-radius: 5px;
}
.expertise-pics-right-down{
    display: flex;
    flex-direction: row;
    padding-top: 16px;
}
.financial-box, .organizational-box{
    position: relative;
}
.financial{
    width: 399px;
    height: 296px;
    border-radius: 3px;
}
.financial-Background {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 399px;
    height: 296px;
    background: rgb(52,52,52);
    background: linear-gradient(90deg, rgba(52,52,52,0.9976190305223652) 0%, rgba(163,157,157,0) 62%, rgba(255,255,255,0) 100%);
    border-radius: 5px;
}
.organizational-box{
    margin-left: 19px;
}
.organizational{
    width: 296px;
    height: 296px;
    border-radius: 3px;
}
.organizational-Background {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 296px;
    height: 296px;
    background: rgb(52,52,52);
    background: linear-gradient(90deg, rgba(52,52,52,0.9976190305223652) 0%, rgba(163,157,157,0) 62%, rgba(255,255,255,0) 100%);
    border-radius: 5px;
}
.organizational-experience-title{
    font-size: 28px;
}
@media (min-device-width: 1200px) and (max-device-width: 1300px){
    .expertise-circle {
        right: 110px;
    }
    .hotel{
        width: 450px;
        height: 433px;
    }
    .hotel-Background{
        height: 433px;
    }
    .logistic{
        width: 640px;
        height: 160px;
    }
    .logistic-Background {
        height: 160px;
    }
    .financial,.financial-Background{
        width: 360px;
        height: 250px;
    }
    .organizational, .organizational-Background{
        width: 270px;
        height: 250px;
    }
}
@media (min-width: 1199px){
    .expertise-info{
        padding: 0 32.5% 40px;
    }

}
@media (min-device-width: 992px) and (max-device-width: 1199px){
    .expertise-info{
        padding: 0 28.5% 40px;
    }
    .expertise-circle {
        right: 110px;
    }
    .hotel{
        width: 360px;
        height: 403px;
    }
    .hotel-Background{
        height: 403px;
    }
    .logistic{
        width: 520px;
        height: 160px;
    }
    .logistic-Background {
        height: 160px;
    }
    .financial,.financial-Background{
        width: 280px;
        height: 221px;
    }
    .organizational, .organizational-Background{
        width: 221px;
        height: 221px;
    }
    .organizational-experience-title {
        font-size: 30px;
    }
}
@media (min-device-width: 768px) and (max-device-width: 991px){
    .expertise-info{
        padding: 0 21.5% 40px;
    }
    .expertise-circle {
        right: 110px;
    }
    .hotel{
        width: 250px;
        height: 320px;
    }
    .hotel-Background{
        height: 320px;
    }
    .logistic{
        width: 410px;
        height: 120px;
    }
    .logistic-Background {
        height: 120px;
    }
    .financial,.financial-Background{
        width: 210px;
        height: 180px;
    }
    .organizational, .organizational-Background{
        width: 180px;
        height: 180px;
    }
    .experience-title, .organizational-experience-title {
        font-size: 35px;
        line-height: 120%;
    }
    .years-experience {
        font-size: 15px;
        line-height: 120%;
    }
    .organizational-experience-title {
        font-size: 25px;
    }
}
@media (max-width: 767px){
    .expertise-info{
        padding: 0 0 40px;
    }
    .expertise-main {
        padding: 40px 20px 40px 20px;
    }
    .expertise-circle {
        right: 134px;
    }
    .expertise-pics {
        flex-direction: column;
        padding: 0 20px;
    }
    .hotel{
        width: 400px;
        height: 320px;
    }
    .hotel-Background{
        height: 320px;
    }
    .expertise-pics-right {
        padding-left: 0;
        margin-top: 20px;
    }
    .logistic{
        width: 400px;
        height: 120px;
    }
    .logistic-Background {
        height: 120px;
        left: 0;
    }
    .financial,.financial-Background{
        width: 200px;
        height: 180px;
    }
    .organizational, .organizational-Background{
        width: 180px;
        height: 180px;
    }
    .experience-title, .organizational-experience-title {
        font-size: 35px;
        line-height: 120%;
    }
    .years-experience {
        font-size: 15px;
        line-height: 120%;
    }
    .organizational-experience-title {
        font-size: 20px;
    }
}
@media (max-width: 479px){
    .expertise-circle {
        right: 55px;
    }
    .hotel{
        width: 250px;
        height: 230px;
    }
    .hotel-Background{
        height: 230px;
    }
    .expertise-pics-right {
        padding-left: 0;
        margin-top: 20px;
    }
    .logistic, .financial,.financial-Background, .organizational, .organizational-Background{
        width: 250px;
        height: 120px;
    }
    .expertise-pics-right-down {
        flex-direction: column;
    }
    .organizational-box {
        margin-left: 0;
        margin-top: 20px;
    }
}