.main-NotFound{
    background-color: #ffffff;
    height: 372px;
}
.NotFound-Contact{
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
}
.NotFound-Contact p{
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    padding-left: 100px;
    text-align: left;
    font-size: 49px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 45px;
    color: #E81C27;
}
@media (min-width: 480px) and (max-width: 767px){
    .NotFound-Contact p{
        font-size: 33px;
    }
}
@media (min-width: 320px) and (max-width: 479px){
    .NotFound-Contact p{
        padding-left: 40px;
        font-size: 30px;
    }
}