.slider-main{
    display: flex;
    flex-direction: column;
    padding: 30px 96px;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
}
.slider-info{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.slider-info p{
    margin: 0;
}
.slider-description, .slider-expert{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 150%;
    color: #9a9999;
    text-align: center;
}
.slider-title{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    line-height: 120%;
    color: #ffffff;
    margin: 10px 0 15px 0!important;
    position: relative;
    text-align: center;

}
.slider-circle{
    position: absolute;
    top: 18px;
    right: 177px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: #E81C27;
    box-shadow: 0 3px 3px rgba(255, 0, 0, 0.34);
    margin-top: -2px;
}
.slider{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.slick-slider.slick-initialized{
    width: 400px;
}

@media (min-device-width: 1200px) and (max-device-width: 1250px){
    .slider-circle{
        right: 140px;
    }
}
@media (min-device-width: 992px) and (max-device-width: 1199px){
    .slider-circle{
        right: 90px;
    }
}
@media (min-device-width: 768px) and (max-device-width: 991px){
    .slider-circle{
        right: 30px;
    }
}
@media (max-width: 767px){
    .slider-main{
        padding: 30px 20px;
    }
    .slider-circle{
        right: 110px;
    }
    .slider-info {
        width: 100%;
    }

    .width-100-darsad{
        width: 100%;
    }
    .slider-description, .slider-expert {
        width: 100%;
    }
}
@media (max-width: 479px){
    .slick-slider.slick-initialized{
        width: 250px;
    }
    .slider-img{
        width: 240px;
        height: 200px;
    }
    .slider-circle{
        right: 30px;
    }
}