#Services{
    background-image: url("../../../../assets/images/home/ServicesShadow.png");
    background-repeat: no-repeat;
    padding: 40px 100px 50px 50px;
}
.services-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.services-info{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.services-info p{
    margin: 0;
}
.work-description, .work-what{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 150%;
    color: #9a9999;
    width: 62%;
}
.work-title{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    line-height: 120%;
    color: #363535;
    margin: 10px 0 15px 0!important;
    position: relative;
}
.work-circle{
    position: absolute;
    top: 18px;
    left: 130px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: #E81C27;
    box-shadow: 0px 3px 3px rgba(255, 0, 0, 0.34);
    margin-top: -2px;
}
.work-do{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 150%;
    color: #9a9999;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}
.Services-service{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.service{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #c8c5c56e;
    padding-bottom: 20px;
    padding-top: 20px;
    width: fit-content;
    width: -moz-fit-content;
}
.service:first-child{
    padding-top: 0;
}
.service:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.service img{
    width: 100px;
    height: 100px;
}
.service-info{
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
}
.service-info-p1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 120%;
    color: black;
    margin: 0;

}
.service-info-p2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #00000073;
    margin: 0;
}
@media (min-device-width: 768px) and (max-device-width: 991px){
    .service-info-p2{
        font-size: 10px;
    }
    .service-info-p1{
        font-size: 20px;
    }
    .work-description, .work-what{
        font-size: 14px;
    }
}
@media (max-width: 767px){
    #Services {
        padding: 20px 20px 20px 20px;
    }
    .services-main {
        flex-direction: column;
    }
    .services-info, .work-description, .work-what, .Services-service {
        width: 100%;
    }
    .service-info-p2{
        font-size: 10px;
    }
    .service-info-p1{
        font-size: 20px;
    }
    .service img {
        width: 70px;
        height: 70px;
    }
    .services-info{
        margin-bottom: 20px;
    }
    .service {
        width: 100%;
    }
}