.App{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
.homeBackground, .Shadow{
  position: absolute;
  top: 0;
  right: 0;
  height: 625px;
  z-index: 0;
  overflow: hidden;
  box-shadow: 346px -1px 5px #e1dddd82;
}
a{
  text-decoration: none;
}