.header-area {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1000;
    margin: 0 76px 0 96px;
    padding-top: 24px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    height: 48px;
}
.logo a img {
    max-height: 48px;
}
.Navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0;
    padding-top: 5px;
}
.Nav-item{
    list-style: none;
    position: relative;
}
.Nav-link, .Nav-link-res{
    color: #000000;
    text-decoration: none;
    padding: 8px 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.Nav-link:hover{
    color: #E81C27;
    border: 1px solid #E81C27;
    border-radius: 3px;
}
/*responsive menu*/
.responsive-Navbar-nav {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
    margin: 0;
}
.responsive-Nav-item{
    list-style: none;
    text-align: left;
    padding-bottom: 15px;
}
.responsive-menu{
    display: none;
    flex-direction: row;
    position: relative;
}
.trigger {
    display: none;
}
.menu-btn{
    display: none;
    width: 109px;
    height: 40px;
    color: white;
    background-color: #E81C27;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 150%;
    border: none;
}
.responsive-menu .line{
    display: none;
    border: 1.9px solid #d7d7d7;
    margin: 7px 24px 0 24px;
    height: 24px;
    border-radius: 50px;
}
.responsive{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: -24px;
    right: -20px;
    width: 200px;
    padding-bottom: 20px;
}
.res-header {
    display: flex;
    flex-direction: row;
    padding: 20px 0 0 15px;
    justify-content: space-between;
    border-bottom: 1px solid red;
}
.logoRes{
    width: 25px;
    height: 25px;
}
.multiplication{
    margin-top: -8px;
}

@media (min-device-width: 992px) and (max-device-width: 1199px){
    .Nav-link{
        padding: 8px 20px;
    }
}
@media (min-device-width: 768px) and (max-device-width: 991px){
    .header-area {
        margin: 0 0 0 20px;
    }
    .Nav-link{
        padding: 8px 15px;
    }
}
@media (max-width: 767px){
    .header-area {
        margin: 0 20px 0 20px;
    }
    .Navbar-nav {
        display: none;
    }
    .trigger, .menu-btn, .responsive-menu .line{
        display: block;
    }
    .responsive-menu{
        display: flex;
    }
    .Nav-link:hover {
        border: none;
    }
    .Nav-link-res{
        font-weight: 700;
        padding: 7px 15px;
    }
}
@media (max-width: 479px){
    .responsive-menu .line {
        margin: 7px 10px 0 10px;
    }
    .menu-btn {
        width: 90px;
    }
}
