.main-tab{
    background-color: white;
    width: 100%;
    height: auto;
    margin: 200px 0 50px 0;
    display: flex;
    flex-direction: row;
}
.tab-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab-content h2:first-child{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 49px;
    color: #000000;
    margin: 0;
    line-height: 120%;
}
.tab-content h2:nth-child(2){
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 49px;
    color: #AFADAD;;
    margin: 0 0 10px;
    line-height: 120%;
}
.tab-content-p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #AFADAD;
    margin: 0;
    line-height: 150%;
    width: 45%;
    text-align: center;
}
.statistics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 40%;
}
.statistics-content{
    display: flex;
    flex-direction: column;
    border-right: 1.9px solid #BBBBBB4A;
    align-items: center;
    padding-right: 25px;
}
.statistics-content:last-child{
    border-right: none;
    padding-right: 0;
}
.statistics-content img{
    width: 97px;
    height: 73px;

}
.statistics-content p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #AFADAD;
    margin: 0;
    line-height: 120%;
    text-align: center;
}
.tab{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    position: relative;
    margin-top: 30px;
}
.tab:before{
    position: absolute;
    top: -20px;
    left: -14px;
    content: "";
    border: 1px solid black;
    border-radius: 50px;
    width: 9px;
    height: 9px;
    z-index: 5;
    background-color: white;
}
.target{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    position: relative;
}
.target:before{
    position: absolute;
    top: 16px;
    left: -13px;
    content: "";
    border: 1px solid #E81C27;
    border-radius: 50px;
    width: 5px;
    height: 5px;
    z-index: 5;
    background-color: white;
}
.target:after{
    position: absolute;
    top: -10px;
    left: -10px;
    content: "";
    border-left: 1px dotted #BBBC;;
    height: 75px;
    z-index: 3;
}
.target:last-child:after{
    border-left: none;
}
.number{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #BBBBBB4A;
    margin: 0;
    padding-right: 7px;
}
.target-title{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: #AFADAD;
}
.target-title:hover{
    color: black;
}
.p1, .p2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}
.Blog{
    margin-top: 12px;
}

@media (min-device-width: 992px) and (max-device-width: 1199px){
    .main-tab {
        margin: 230px 0 50px 0;
    }
}
@media (min-device-width: 768px) and (max-device-width: 991px){
    .main-tab {
        margin: 100px 0 50px 0;
    }
}
@media (max-width: 767px){
    .main-tab {
        flex-direction: column;
        align-items: center;
    }
    .tab-content-p, .statistics {
        width: 100%;
    }
    .tab-content{
        margin: 0 20px;
    }
    .tab-content h2:first-child , .tab-content h2:nth-child(2){
        font-size: 40px;
    }
    .statistics-content {
        padding-right: 15px;
    }
}
@media (max-width: 479px){
    .main-tab {
        margin: 100px 0 50px 0;
    }
    .tab-content h2:first-child , .tab-content h2:nth-child(2){
        font-size: 25px;
    }
    .statistics-content {
        border-right: none;
        padding-right: 0;
    }
}