.ReadyProject-main{
    background-color: #F3F4F6;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px 50px 40px;
}
.ReadyProject-Question{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 39px;
    line-height: 120%;
    color: #232222;
    margin: 0;
}
.ReadyProject-button{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    background-color: #E81C27;
    border-radius: 5px;
    padding: 8px 15px;
    color: #ECE9E9FF;
    outline: none;
    border: none;
    width: fit-content;
    cursor: pointer;
    margin-top: 25px;
    align-self: center;
}
@media (max-width: 767px){
    .ReadyProject-Question {
        font-size: 22px;
    }
}
