.footer-main{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 96px 10px 96px;
    background: rgb(42,41,71);
    background: linear-gradient(135deg, rgba(42,41,71,0.9219887784215248) 92%, rgba(46,39,62,0.5326330361246061) 100%, rgba(34,36,71,0.8519607672170431) 100%);
}
.footer-main p{
    margin: 0;
}
.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #979FBA8C;
    padding-bottom: 20px;
}
.footer-info-left{
    display: flex;
    flex-direction: column;
}
.footer-logo{
    width: 80px;
    height: 33px;
}
.footer-info-p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #f9f9f9;
    margin-top: 10px!important;
}
.footer-info-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-email, .info-phone{
    display: flex;
    flex-direction: column;
}
.footer-info-line{
    border: 1px solid #979FBA45;
    margin: 0 45px;
    height: 50px;
}
.info-email-p1, .info-phone-p1{
    color: #E81C27;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}
.info-email-p2, .info-phone-p2{
    color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
}
.footer-section-down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
}
.copyright{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #b3b6bf;
}
.footer-section-down-share{
    display: flex;
    flex-direction: row;
}
.footer-instagram{
    padding-right: 20px;
}
.footer-linkedin:hover svg path, .footer-instagram:hover svg path{
    fill: #a4a1a1;
}

@media (min-device-width: 768px) and (max-device-width: 1199px){
    .footer-main {
        padding: 20px 46px 10px 46px;
    }
    .info-email-p1, .info-phone-p1{
        font-size: 11px;
    }
    .info-email-p2, .info-phone-p2, .footer-info-p{
        font-size: 13px;
    }
    .footer-info-line {
        margin: 0 20px;
    }
}
@media (max-width: 767px){
    .footer-main {
        padding: 20px 25px 10px 25px;
    }
    .footer-info, .footer-info-right {
        flex-direction: column;
    }
    .footer-info-line{
        display: none;
    }
    .footer-info-left{
        border-bottom: 1px solid #979FBA8C;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .info-email-p1, .info-phone-p1{
        font-size: 11px;
    }
    .info-email-p2, .info-phone-p2, .footer-info-p{
        font-size: 13px;
    }
}