.technologies-main{
    display: flex;
    flex-direction: row;
    padding: 40px 50px;
    background-color: white;
}
.technologies-info{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.technologies-info p{
    margin: 0;
}
.technologies-description, .technologies-expert{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 150%;
    color: #9a9999;
    width: 62%;
}
.technologies-title{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    line-height: 120%;
    color: #363535;
    margin: 10px 0 15px 0!important;
    position: relative;
}
.technologies-circle{
    position: absolute;
    top: 18px;
    left: 260px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: #E81C27;
    box-shadow: 0px 3px 3px rgba(255, 0, 0, 0.34);
    margin-top: -2px;
}
.technologies-tab{
    display: flex;
    flex-direction: column;
}
.tech-tabs{
    border-radius: 3px;
    background-color: #F3F4F6;
    padding: 10px 5px;
}
.tech-tab{
    padding: 8px 15px;
    background-color: #F3F4F6;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #a4a1a1;
    border: none;
}
.tech-tab:hover{
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 3px;
    cursor: pointer;
}
.tech-tab:focus-visible{
    outline: none;
    background-color: rgba(225, 225, 225, 0.45);
    color: #000000;
    border-radius: 3px;
}
.tech-panels{
    margin-top: 30px;
}
.tech-panel{
    background-color: #fff;
    border: 1px solid #c0bfbf;
    padding: 20px 50px;
    box-shadow: -4px 3px 10px #e8e3e3;
    border-radius: 5px;
}

@media (max-width: 767px){
    .technologies-main{
        flex-direction: column;
    }
    .technologies-info {
        width: 100%;
        margin-bottom: 30px;
    }
    .technologies-description, .technologies-expert {
        width: 100%;
    }
}
@media (max-width: 479px){
    .technologies-main {
        padding: 40px 20px;
    }
    .tech-tab {
        padding: 8px 10px;
    }
}